.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.cartItem {
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}

.cartItem img {
  width: 150px;
}

.cartInf {
  width: 100%;
  text-align: center;
  font-size: larger;
}
.cartMultiply{
  font-size: 16px;
  color: gray;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.checkout p{
  font-size: 20px;
  text-align: center;
  font-weight: 550;
}
@media screen and (max-width: 800px) {
  .cartItem {
    width: 90%;
  }
}
